# Nombre del nodo (coincide con el application.xml)
IceGrid.Node.Name=Node1

# Endpoints que usa el nodo para recibir comandos del registry
IceGrid.Node.Endpoints=tcp -h 127.0.0.1

# Rutas internas del nodo
IceGrid.Node.Data=registry/node1
IceGrid.Node.Output=registry/node1/output

# Debug (opcional)
IceGrid.Node.Trace.Activator=1

# Conexión al registry
Ice.Default.Locator=SITMRegistry/Locator:tcp -p 4061
IceGrid.Registry.Client.Endpoints=tcp -p 4061
