IceGrid.InstanceName=SITMRegistry

IceGrid.Registry.Client.Endpoints=tcp -h localhost -p 4061
IceGrid.Registry.Server.Endpoints=tcp -h localhost -p 4062
IceGrid.Registry.Internal.Endpoints=tcp -h localhost -p 4063

IceGrid.Registry.LMDB.Path=registry/db

IceGrid.Registry.PermissionsVerifier=SITMRegistry/NullPermissionsVerifier
IceGrid.Registry.AdminPermissionsVerifier=SITMRegistry/NullPermissionsVerifier

Ice.StdErr=registry/registry.err
Ice.StdOut=registry/registry.log
IceGrid.Registry.Discovery.Interface=127.0.0.1